
.packages .table thead tr{		
    text-align:center;

}
.packages .table thead th{
	font-size: 22px; 
	border-radius: 20px 20px 0 0;
	text-align: center;
	border: 3px solid white;
}
.packages .table thead th:nth-child(1){
	
	background: #D5E0E0;
	border: none;
	margin-right: 10px;
}
.packages .table thead th:nth-child(2){
	
	background: #247070;
}
.packages .table thead th:nth-child(3){
	background: #ff9378;
	
}
.packages .table thead th:nth-child(4){
	background: #edc045;
	
}
.packages .table thead th:nth-child(5){
	
	background: #dafa28;
}
.packages .table thead th:nth-child(6){
	
	background:#41f055;
}
.packages .table thead th:nth-child(7){
	
	background:#4fcdf0;
}
.packages .table thead th:nth-child(8){
	
	background: #7868ed;
}
.packages .table thead th:nth-child(9){
	
	font-size: 20px;
	background: #D91C97;
}
.packages .table thead th:nth-child(10){
	
	background: #eb6ebb;
}
.packages .table thead th:nth-child(11){
	
	background: #FF9900;
	border-right: 0px solid white;
}
.packages .table thead th:nth-child(12)
{
    background: #EB090D;
}
.packages .table tbody tr td{
	font-size: 20px;
	height: 0px;
	border: 3px solid #d5e0e0;
}
.packages .table tbody tr td:nth-child(1){
	font-size: 22px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(2){
	font-size: 22px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(3){
	font-size: 20px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(4){
	font-size: 20px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(5){
	font-size: 22px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(6){
	font-size: 22px;
	font-weight: bold; 
}
.packages .table tbody tr td:nth-child(6) button{
	font-size: 22px;
}
.packages .table tbody tr td:nth-child(7){
}
.packages .table tbody tr td:nth-child(7) button{
	font-size: 22px;
}
.packages .table tbody tr td:nth-child(8){
	font-size: 22px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(9){
	font-size: 22px;	
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(10){
	font-size: 22px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(11){
	font-size: 20px;
	font-weight: bold;
}
.packages .table tbody tr td:nth-child(10){
	font-size: 22px;
	font-weight: bold;
}


#packages-divtable{
	margin: 0 30px;
	height: 100vw;
	height: 49vh;
	 box-shadow:7px 7px 15px rgba(121, 130, 160, 0.747);
	 padding:30px;
	 margin-top: 1.4%;
	 border-radius: 30px;
	 background: white;
	 text-align: center;
}

.packages .packages-divtable .div-table-span{
	font-size: 40px;
	font-weight: bold;
}

.packages .packages-divtable{
	margin: 0 30px;
	height: 100vw;
	height: 57vh;
	box-shadow:7px 7px 15px rgba(121, 130, 160, 0.747);
	padding:30px;
	margin-top: 30px;
	border-radius: 30px;
	background: white;
	overflow-x: hidden;
	text-align: center;
} 




