.packages .divtable{
	/*overflow-y: auto;*/
}
.packages .table thead th{
	font-size: 15px;
}
.packages .table thead th:nth-child(3){
	line-height: 100px;
}
.packages .table thead th:nth-child(4){
	line-height: 100px;
}
.packages .table thead th:nth-child(6){
	line-height: 100px;
}
.packages .table thead th:nth-child(7){
	line-height: 100px;
}
.packages .table thead th:nth-child(8){
	line-height: 100px;
}
