body{
	justify-content: center;
}
h2{
	text-align: center;
	font-weight: bold;
}
.table{
    margin-top: 100px;
}
thead tr{		
    text-align:center;
}
thead th{
	font-size: 20px; 
	border-radius: 20px 20px 0 0;
	text-align: center;
}
thead th:nth-child(1){
	line-height: 50px;
	background: #D5E0E0;
	border: none;
	margin-right: 10px;
}
thead th:nth-child(2){
	line-height: 50px;
	background: #2bcece;
}
thead th:nth-child(3){
	background: #ff9378;
	line-height: 50px;
}
thead th:nth-child(4){
	background: #edc045;
	line-height: 50px;
}
thead th:nth-child(5){
	line-height: 50px;
	background: #dafa28;
}
thead th:nth-child(6){
	line-height: 50px;
	background:#3ae04e;
}
thead th:nth-child(7){
	line-height: 50px;
	background:#287ddd;
}

tbody tr td{
    background-color: white;
	font-size: 20px;
	border: 3px solid #788080;
	width: 140px;
}
tbody tr td:nth-child(1){
	border: 1px solid #788080;
    background-color: white;
	font-size: 17px;
	font-weight: bold;
	line-height: 35px;
    text-align: center;
}
tbody tr td:nth-child(2){
	border: 1px solid #788080;
    background-color: white;
	font-size: 17px;
	font-weight: bold;
	line-height: 35px;
    text-align: center;
}
tbody tr td:nth-child(3){
	border: 1px solid #788080;
    background-color: white;
	font-size: 17px;
	font-weight: bold;
	line-height: 35px;
    text-align: center;
}
tbody tr td:nth-child(4){
	border: 1px solid #788080;
    background-color: white;
	font-size: 17px;
	font-weight: bold;
	line-height: 35px;
    text-align: center;
}
tbody tr td:nth-child(5){
	border: 1px solid #788080;
    background-color: white;
	font-size: 17px;
	font-weight: bold;
	line-height: 35px;
    text-align: center;
}
tbody tr td:nth-child(6){
	border: 1px solid #788080;
    background-color: white;
	line-height: 35px;
    text-align: center;
    font-size: 17px;
	font-weight: bold;
}
tbody tr td:nth-child(7){
	border-top: 1px solid #788080;
	border-bottom: 1px solid #788080;
	line-height: 35px;
    text-align: center;
    font-size: 17px;
	font-weight: bold;
}

.dropdown{
	position: relative;
	background : #000;
	border-radius: 30px;
	box-shadow: 20px 20px 20px #d0d0d0,
				-20px -20px 60px #ffffff;
	transition: all 500ms ease-in-out;
	cursor: pointer;
}
